// Import all. (also works with nameSpace)
@use '../util' as *;


// SECTION VIDEO PLAYER:
.section-video-player {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // PHONE:
  @include respond('phone') {
    padding: 0 .5rem;
  }
}

// VIDEO CONTAINER:
.video-container {
  cursor: pointer;
  width: 60%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;

  // PHONE:
  @include respond('phone') {
    width: 100%;
  }

  &:hover .controls {
    transform: translateY(0);
  }
}

// VIDEO:
.video {
  width: 100%;
}

// CONTROLS:
.controls {
  background: transparent;
  width: 100%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: .2rem;
  padding: .5rem;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: all 350ms ease;

   // PHONE:
   @include respond('phone') {
    gap: .1rem;
    transform: translateY(0);
  }

  // BUTTONS CONTAINER:
  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .progress-bar {
    background: transparent;
  }

  &__buttons-box {
    display: flex;
    align-items: center;
    padding: .1rem;
  }

  // ICONS:
  & ion-icon {
    font-size: 2.4rem;
    fill: #FAFAFF;

    // PHONE:
    @include respond('phone') {
      font-size: 1.6rem;
    }
  }

  // VOLUME:
  &__volume-box {
    display: flex;
    align-items: center;
    padding: .1rem;
  }

  &__volume-input {
    width: 40%;
    background: transparent;

    // PHONE:
    @include respond('phone') {
      width: 50%;
    }
  }
}

// BUTTONS:
.btn {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-right: .5rem;
  padding: .1rem;
}

// TIME:
.time {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .1rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #FAFAFF;

  // PHONE:
  @include respond('phone') {
    font-size: 1.4rem;
    flex-basis: 20rem;
  }

  & ion-icon {
    fill: #FAFAFF;
  }

  &-box {
    margin-right: 1rem;
    position: relative;
  }

  &-play-back-rates {
    position: absolute;
    flex-direction: column;
    gap: .5rem;
    width: 5rem;
    padding: .2rem;
    border-radius: .8rem;
    transform: translate(-17%, -125%);
    background-color: rgba($color: #495867, $alpha: 0.8);
    display: none;
  }

  // SPEED:
  &__speed,
  &__speed-default {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 500;
    color: currentColor;
    margin-right: -.3rem;

    // PHONE:
    @include respond('phone') {
      font-size: 1.4rem;
    }
  }
}










